<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}WILDLIFE TRACKER{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

    <link rel='stylesheet' href="/css/styles.css">
<!--    <style>-->

<!--        body{-->
<!--        background-image: url('images/hero.png');-->
<!--        background-color: rgba(255, 255, 255, 0.4);-->
<!--        background-blend-mode: lighten;-->
<!--        background-repeat:no-repeat;-->
<!--        background-size: cover;-->
<!--        color: black;-->

<!--        }-->
<!--    </style>-->
</head>
<body>


<!--<ul class="nav nav-tabs">-->
<!--    <li role="presentation" class="active"><a href="/">HOME</a></li>-->
<!--    <li role="presentation"><a href="/hero">HEROS</a></li>-->
<!--    <li role="presentation"><a href="/squad">SQUAD</a></li>-->
<!--</ul>-->



<div class="col-md-12">
    {{#block "content"}}

    {{/block}}

</div>


</div>
<!--end main template-->

{{#block "footer"}}

    </body>
    </html>
{{/block}}