{{#partial "content"}}
    <div class="card" style="width: 18rem;">
        <img src="https://thumbs.gfycat.com/VariablePoliticalBurro.webp" height=500 width=500 alt="">
    </div>
    <div class="card-body">
        <p class="card-text">Thank you!</p>
        <a href="#" class="btn btn-success">Check endangered animals</a>
    </div>
{{/partial}}

{{>layout.hbs}}