{{#partial "content"}}
<div class="card" style="width: 18rem;">
<img src="https://media.tenor.com/images/ca318adcef3e74ee90c41e09dd8ebdcb/tenor.gif" height=500 width=600 alt="">
</div>
<div class="card-body">
    <p class="card-text">Thank you!</p>
    <a href="#" class="btn btn-success">Check healthy animals</a>
</div>
{{/partial}}
{{>layout.hbs}}